
.blue-rasia{
	color: rgb(2,154,196)!important;
}
.bg-rasia{
	background:rgb(2,154,196)!important;
}
.thin{
	font-family:"DINProRegular";
}
.small{
	font-size:48px!important;
}
.x-small{
	font-size:36px!important;
	margin-top: -3px;
}
h1{
	line-height: 48px;
}
#nav li a{
	letter-spacing: 1px;
}
#home h1{
	background: url(../images/big_pad.png) no-repeat 0 0;
	color:#ffffff!important;
	font-size:66px!important;
	line-height:24px!important;
}
#home h1 span{
	display:block;
}
#home h2{
	color:#ffffff!important;
	font-size:20px!important;
	margin-top:10px;
}
#home h2 span.bg-black{
	display:inline-block;
	padding:1px 3px;
	background:rgba(0,0,0,0.8);
	width:auto;
}
#home .sprite, #home .sprite2, #home .sprite3, #home{
	background-position: 50% 0px;
	width:100%;
}
#home .content{
	position:fixed;
	height:500px;
	z-index:0;
}
#projects{
	position:relative;
	z-index:999;
}
#projects h1{
	padding-top:54px;
	margin-bottom:20px;
}
#nav{
	padding-top:13px;
}
#ok_contact{
	position:static;
	height:auto;
	padding-bottom:13px;
}
#ok_contact li{
	display:block;
	float:none;
	font-family: "DINProRegular";
	color:white;
	margin-top:4px;
}
#design .sprite{
	background-attachment: scroll!important;
}

#about h2{
	color:silver!important;
}
#about .bodytext{
	color:#fff!important;
}

.project-thumbnails li{
	display:block;
	perspective: 1000px;
}
.project-thumbnails li a{
	display:block;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.project-thumbnails li:hover a{
	transform: rotateY(180deg);
}
.project-thumbnails li:hover a.no-effect{
	transform: none;
}
.project-thumbnails li a div.front,.project-thumbnails li a div.back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	background:rgb(50,50,50);
	color:#ffffff;
}
.project-thumbnails li a div.front{
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
.project-thumbnails li a div.back{
	background:rgb(2,154,196);
	transform: rotateY(180deg);
}
.project-thumbnails li a span{
	display:block;
}

#jobs{
	height:1000px;
	margin-bottom:285px;
}
#jobs .sprite{
	background:url(../images/jobs_bg_triangles.png);
	background-repeat: no-repeat;
	background-size:cover;
	z-index:200;
}
#jobs .sprite2{
	background:url(../images/git-map.png) 47% 50% no-repeat;
	z-index:202!important;
}
#jobs .screen{
	background:url(../images/doves.png) 16% 124% no-repeat;
}
#jobs .content{
	margin-top:10%!important
}
#jobs_container{
	margin-top:320px;
	left:auto;
	right:0;
}
#jobs h1{
	line-height:20px!important;
}
#jobs h1 span{
	display:block;
}
#jobs .get{
	color:rgb(170,170,170);
}
#jobs .in{
	color:#ceb797;
}
#jobs .touch{
	color:#ded3cd;
}
#jobs .content h2{
	margin-top:20px!important;
}
#jobs .content h2, #jobs .content .bodytext{
	color:#fdfaf1!important;
}
#jobs form img{
	top:-22px;
	left:-70px;
	width:190px;
	position:absolute;
}
#jobs form{
	position: relative;
	font-family: "DINProRegular", sans-serif;
	background-color:rgba(0,0,0,0.4);
	width:50%;
	float:right;
	padding:38px 30% 38px 20%;
	color:#ffffff;
	box-sizing: content-box;
}
#jobs form p{
	font-size:18px;
}
#jobs form input{
	display:block;
	width:100%;
	font-family: "DINProRegular", sans-serif;
	font-size:20px;
	padding:8px 0;
	margin:18px 0;
	background:transparent;
	border:none;
	border-bottom:1px solid #ffffff;
	font-size:18px;
	outline:none;
	color:#ffffff;
	transition:.3s;
	box-sizing:border-box;
}
#jobs form input:focus{
	border-color:rgb(2,154,196);
}
::-webkit-input-placeholder {
   color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}

:-ms-input-placeholder {  
   color: #ffffff;  
}
#jobs form textarea{
	width:100%;
	height:120px;
	margin-bottom:22px;
	padding:8px 0;
	font-size:18px;
	font-family: "DINProRegular", sans-serif;
	background:transparent;
	border:none;
	border-bottom:1px solid #ffffff;
	outline:none;
	color:#fff;
	transition: border-color .3s;
	box-sizing: border-box;
}
#jobs form textarea:focus{
	border-color:rgb(2,154,196);
}
#jobs form button{
	padding:8px 34px;
	text-transform: uppercase;
	background:transparent;
	border: 1px solid #ffffff;
	color:#ffffff;
	font-size:16px;
	transition:.3s;
}

#jobs form button:hover{
	color:rgb(2,154,196);
	border-color:rgb(2,154,196);
}
.bodytext{
	font-size:18px!important;
}

#about{
	position:relative;
	height:3400px;
	background:#020202;
}
#about h1{
	font-size:46px;
	color:silver;
	font-family: "DINProRegular";
	line-height: 52px;
	padding-top:20px!important;
}
#about h1 .who{
	display:block;
	font-size:78px;
	color:white;
	font-family: "DINProBold";
}
#about .screen{
	position:absolute;
	top:0;left:0;right:0;
	background: #020202 url(../images/about_bg.jpg) 50% 0 no-repeat fixed;
}
#about .about_images{
	position:absolute;
	top:20%;
	right:16%;
	width:400px;
	height:800px;
}
#about .about_images img{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:.5s;
}
#about .about_images img.show{
	opacity:1;
}
#about .about_images_text{
	position:absolute;
	right:25%;
	bottom:10%;
	font-size:30px;
}
#about .about_images_text p{
	display: none;
	color:#fff;
	font-family:"DINProBold";
	text-align: right;
}
#about .about_images_text p.show{
	display: block;
}
#about .about_images_text p q{
	display:block;
	font-size:20px;
	font-family:"DINProRegular";
	font-style:italic;
	margin-bottom:16px;
}
/*#about .about_images_text p q:before{
	content:"";
	display:block;
	float:left;
	margin-top:-6px;
	margin-right:14px;
	width:26px;
	height:26px;
	background:url("../images/quotes2.png") center center no-repeat;
	background-size:contain;
}*/
#about .about_images_text p q .quota {
    content: "";
    display: inline-block;
    /*float: left;*/
    margin-top: -6px;
    margin-right: 14px;
    width: 26px;
    height: 26px;
    background: url("../images/quotes2.png") center center no-repeat;
    background-size: contain;
}
#about .about_images_text p q:after{
	content:"";
	display:block;
	float:right;
	margin-left:14px;
	margin-top:6px;
	width:26px;
	height:26px;
	background:url("../images/quotes1.png") center center no-repeat;
	background-size:contain;
}
#about .about_images_text p span{
	font-size:24px;
	font-family:"DINProRegular";
	font-style:italic;
}
#about .img-3{
	left:28px!important;
	top:10px!important;
}
#about .img-4{
	left:28px!important;
	top:8px!important;
}
#about .img-5{
	left:36px!important;
	top:0px!important;
}

#about .img-6{
	top:-5px!important;
	left:50px!important;
}
#about .img-7{
	top:40px!important;
	left:-40px!important;
}

#design{
	position:relative;
	height:3000px;
	background:silver;
}
#design .screen{
	position:absolute;
	top:0;left:0;right:0;
	background: url(../images/how_we_do_bg.jpg) 0 0 repeat-x;
}
#design .content{
	position: relative;
	z-index:204;
	margin-top:8%!important;
	margin-left:45%!important;
}
#design h1{
	/*width:200px;*/
	width: 315px;
	text-align: right;
}
#design h1 .how{
	display:block;
	color:grey;
	font-family: "DINProRegular";
	font-size:38px;
	line-height: 38px;
}
#design h1 .we{
	display:block;
	color:#ceb797;
	font-family: "DINProBold";
	font-size:40px;
	line-height: 20px;
}
#design h1 .do{
	display:block;
	margin-top:6px;
	float:right;
	color:#ceb797;
	font-family: "DINProBold";
	font-size:86px;
}
#design .content2{
	position:absolute;
	z-index:203;
	top:0;bottom:0;left:0;right:0;
}
#design .content2 img{
	position:absolute;
	z-index:250;
	opacity:0;
	transition:.5s;
}
#design .content2 img.active{
	opacity:1;
	transition:.5s;
}
#design svg{
	position:absolute;
	z-index:200;
}
#design svg path{
	transition:0.5s;
}
#design #arrow-1{
	height:150px;
	top:55%;
	left:20%;
}
.arrow-1{
	stroke-dasharray: 290;
	stroke-dashoffset: 290;
}
#design #arrow-2{
	width:170px;
	top:82%;
	left:45%;
}
.arrow-2{
	stroke-dasharray: 280;
	stroke-dashoffset: 280;
}
#design #arrow-3{
	height:150px;
	top:53%;
	left:73.5%;
}
.arrow-3{
	stroke-dasharray: 260;
	stroke-dashoffset: 260;
}
#design #arrow-4{
	width:750px;
	top:-3%;
	left:39%;
}
.arrow-4{
	stroke-dasharray: 1300;
	stroke-dashoffset: 1300;
}
#design .content2 .hwd-1{
	top: 10%;
	left: 5%;
}
#design .content2 .hwd-3{
	top:40%;
	left:20%;
}
#design .content2 .hwd-5{
	top:38%;
	left:47%;
}
#design .content2 .hwd-7{
	top:8%;
	left:72%;
}

footer{
	display:none;
	z-index:-1!important;
	position:fixed;
	bottom:0;left:0;right:0;
	box-sizing:border-box;
	background:#111111;
	color: white;
	padding-top:42px;
	font-family: "DINProRegular";
	text-align: center;
	font-size:16px;
}
.bg-white{
	background: #fff!important;
}
.form_error{
	display:none;
	color:#e74c3c;
}
.form_res_success{
	margin-top:10px;
	margin-bottom:0px;
	display:none;
	color:#2ecc71;
}
.form_res_error{
	margin-top:10px;
	margin-bottom:0px;
	display:none;
	color:#e74c3c;
}
div.tech_submenu{
	width:900px;
	margin:52px auto -52px auto;
}
#thumbscreen{
	position:relative!important;
}
#thumbscreen .next, #thumbscreen .prev{
	top:220px!important;
}

.pagination{
	position:absolute!important;
	width:900px;
	top:-40px;
	left:50%;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-o-transform:translateX(-50%);
	transform:translateX(-50%);
}
.pagination li{
	display:inline-block;
	margin-right:15px;
}
.pagination li a{
	display:block;
	color:rgb(180,180,180);
	font-size:14px;
	text-transform: uppercase;
}
.pagination li.current a{
	color:#666666;
}
.pagination li a:hover{
	color:#666666;
}
/*modal lucee*/
    .modal-lucee-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 9999;
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
    }
    
    .modal-lucee-btn img {
        margin: 0;
        padding: 0;
        height: 45px;
    }
    
    body.modal-open {
        overflow: hidden;
    }
    /* The Modal (background) */
    
    .modal-lucee {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 99999;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        -webkit-animation-name: fadeIn;
        /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }
    
    .logo-lucee {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -30px;
        left: 290px;
    }
    /* Modal Content/Box */
    
    .modal-lucee-content {
        position: fixed;
        bottom: 80px;
        right: 20px;
        background-color: #FFF;
        border-radius: 7px;
        width: 600px;
        height: 370px;
        padding: 50px 20px 20px 20px;
        color: #666;
        font-size: 14px;
        line-height: 25px;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s
    }
    
    .modal-lucee-content.out {
        -webkit-animation-name: slideOut;
        -webkit-animation-duration: 0.4s;
        animation-name: slideOut;
        animation-duration: 0.4s
    }
    
    .modal-lucee-body {
        height: 370px;
        overflow: hidden;
    }
    
    .modal-lucee-body-content {
        position: relative;
        height: 370px;
        overflow: auto;
    }
    
    .lucee-body-list {
        margin-left: 20px;
    }
    
    .lucee-body-list h4 {
        text-decoration: underline;
    }
    
    ul.lv-1>li>i.fa {
        margin-right: 10px;
        color: rgb(24, 128, 177);
    }
    
    ul.lv-2 {
        padding-left: 20px;
    }
    
    ul.lv-2>li>i.fa {
        font-size: 9px;
        margin-right: 10px;
        color: #333;
        font-style: bold;
    }
    /* The Close Button */
    /*.modal-lucee-close {
	    color: white;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.modal-lucee-close:hover,
	.modal-lucee-close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}*/
    /* Add Animation */
    
    @-webkit-keyframes slideIn {
        from {
            right: -300px;
            opacity: 0
        }
        to {
            right: 0;
            opacity: 1
        }
    }
    
    @keyframes slideIn {
        from {
            right: -300px;
            opacity: 0
        }
        to {
            right: 0;
            opacity: 1
        }
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    /*animation Out*/
    
    @-webkit-keyframes slideOut {
        from {
            right: 0;
            opacity: 1
        }
        to {
            right: -300px;
            opacity: 0
        }
    }
    
    @keyframes slideOut {
        from {
            right: 0;
            opacity: 1
        }
        to {
            right: -300px;
            opacity: 0
        }
    }
    
    @-webkit-keyframes fadeOut {
        from {
            opacity: 1
        }
        to {
            opacity: 0
        }
    }
    
    @keyframes fadeOut {
        from {
            opacity: 1
        }
        to {
            opacity: 0
        }
    }
/*custom footer*/
    #jobs {
        margin-bottom: 325px;
    }
    
    footer {
        background-color: #32251f;
        float: left;
        text-align: left;
        color: #CCB696;
        padding-top: 35px;
        font-size: 13px;
        min-height: 330px;
        padding-bottom: 65px;
    }
    
    footer .footer-column {
        width: 24%;
        margin-right: 4% !important;
        display: inline-block;
        margin: 0 auto;
        float: left;
    }
    
    footer .footer-column:first-child {
        margin-left: 10%;
        margin-right: 5%;
    }
    
    footer .footer-column:last-child {
        margin-right: 10% !important;
    }
    
    .footer-column .col-title .title-left {
        font-size: 25px;
        text-transform: uppercase;
    }
    /*.footer-column .col-title .title-right{
		font-size: 13px;
		float: right;
		margin-top: 7px;
		margin-left: 20px;
		display: inline-block;
	}*/
    
	footer .col-title {
	    width: 100%;
	    margin-bottom: 10px;
	    float: left;
	}

	footer .col-title .head-img {
	    background-image: url("../icons/feet.png");
	    background-repeat: no-repeat;
	    border-bottom: 1px solid #CCB696;
	    display: block;
	    width: 100%;
	    height: 24px;
	    text-align: right;
	    padding-top: 10px;
	    font-size: 18px;
	}

	.col-info li {
	    color: white;
	    margin-bottom: 10px;
	    margin-left: 2px;
	    padding-top: 2px;
	    min-height: 21px;
	    background-size: 25px 25px;
	    font-size: 16px;
	}

	.col-info a {
	    color: white;
	}

	.col-info li.location {
	    background-size: 27px 27px;
	    background-image: url("../icons/location.svg");
	    background-repeat: no-repeat;
	    margin-bottom: 15px
	}

	.col-info li.phone {
	    background-image: url("../icons/phone.svg");
	    background-repeat: no-repeat;
	}

	.col-info li.email {
	    background-image: url("../icons/letter.svg");
	    background-repeat: no-repeat;
	}

	.col-info li.link {
	    background-image: url("../icons/weblink.svg");
	    background-repeat: no-repeat;
	}

	.footer-bottom {
	    background-color: #1D1512;
	    text-align: center;
	    color: #46352B;
	    position: fixed;
	    bottom: 0px;
	    width: 100%;
	    height: 35px;
	    padding-top: 15px;
	    font-size: 20px;
	}

	.clearfix {
	    clear: both;
	}

/*custom products*/
	#product-content{
		width: 900px;
		margin: auto;
		padding: 0;
	}
	#product-content .left-container,#product-content .right-container{
		width: 50%;
		float: left;
	}
	#product-content .right-container{
		width: 400px;
		padding-left: 50px;
	}
	#product-content .c-head{
		background-color: #A1A1A1;
		border-radius: 11px;
		color: #fdfdfd;
		padding: 15px;
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		min-height: 40px;
	}
	#product-content .left-container{
		text-align: right;
	}
	#product-content .right-container{
		text-align: left;
	}
	#product-content .left-container .c-head{
		border-radius: 11px 11px 0px 11px;
	}
	#product-content .right-container .c-head{
		border-radius: 11px 11px 11px 0px;
	}
	#product-content .c-body{
		height: 260px;
	}
	#product-content .c-body li{
		font-size: 16px;
		padding-top: 10px;
		position: relative;
	}
	#product-content .left-container .c-body li{
		border-right:2px #a0a0a0 solid;
		padding-right: 40px;
	}
	#product-content .right-container .c-body li{
		border-left:2px #a0a0a0 solid;
		padding-left: 40px;
	}
	#product-content .left-container .c-body li:last-child,
	#product-content .right-container .c-body li:last-child{
		border:none;
	}
	#product-content .c-body li:after{
		position:absolute;
		width:35px; 
		height: 20px;
		border-color:#a0a0a0;
		border-style:solid;
		content: ' ';
		top:0;
	}
	#product-content .left-container .c-body li:after {
		right:0;
		border-width: 0px 0px 2px 0px;
	}
	#product-content .right-container .c-body li:after {
		left:0;
		border-width: 0px 0px 2px 0px;
	}
	#product-content .left-container .c-body li:last-child:after {
		border-width: 0px 2px 2px 0px;
	}
	#product-content .right-container .c-body li:last-child:after {
		border-width: 0px 0px 2px 2px;
	}
	#product-content .bottom-container{
		float: left;
		position: relative;
	}
	div.bottom-container:before{
		position: absolute;
		top: -20px;
		left: 0;
		height: 5px;
		content: ' ';
		width: 100%;
		box-shadow: 0px 4px 3px #A0A0A0;
	}
	#product-content .bottom-container{
		width: 100%;
	}
	.bottom-container .b-item{
		width: 150px;
		float: left;
	}
	.bottom-container .b-item img{
		width: 110px;
		margin-left: 20px;
	}


    .b-item label{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: -5px;
        font-weight: bold;
    }